<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.qq.com" />
		<property name="port" value="465" />
		<property name="protocol" value="smtp" />
		<property name="defaultEncoding" value="utf-8" />
		<property name="username" value="2524657524@qq.com" />
		<property name="password" value="授权码" />
		<property name="javaMailProperties">
			<props>
				<!-- 设置SMTP服务器需要用户验证 -->
				<prop key="mail.smtp.auth">true</prop>
				<!-- 开启SSL安全验证 -->
				<prop key="mail.smtp.ssl.enable">true</prop>
				<prop key="mail.transport.protocol">smtps</prop>
			</props>
		</property>
	</bean>
	
	<bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage" scope="prototype">
		<property name="from" value="2524657524@qq.com"></property>
		<property name="subject" value="【i旅行】请激活您的账户"></property>
		<property name="text" value=""></property>		
	</bean>
	
</beans>